* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #2f303a;
  --second-text-color: #757575;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --button-hover-color: #188ce8;
  --team-bg-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --logo-font-family: "Raleway", sans-serif;
  --main-font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
}

/* <<<===== COMPONENTS =====>>> */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  color: var(--primary-black-color);
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.prefix-logo {
  color: var(--accent-color);
}

.title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.link.current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}
/* <<<===== END COMPONENTS =====>>> */

/* <<<===== NAVIGATION =====>>> */
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-link {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* <<<===== END NAVIGATION =====>>> */

/* <<<===== HERO =====>>> */

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.model-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.model-button:hover,
.model-button:focus {
  background-color: var(--button-hover-color);
}
/* <<<===== END HERO =====>>> */

/* <<<===== ADVANTAGES =====>>> */
.advantages-item-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-text {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* <<<===== END ADVANTAGES =====>>> */

/* <<<===== TEAM =====>>> */
.team-section {
  background-color: var(--team-bg-color);
}

.team-name-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-specialty {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* <<<===== END TEAM =====>>> */

/* <<<===== FOOTER =====>>> */
.footer {
  background-color: var(--secondary-bg-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

.footer-location {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.footer-contact-link {
  color: var(--footer-contact-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* <<<====== PORTFOLIO ======>>> */
.filter-button {
  background-color: var(--team-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.card-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* <<<===== END PORTFOLIO =====>>> */
